In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = './project_trains/course_project_train.csv'

In [3]:
df = pd.read_csv(DATA_PATH)

In [4]:
df.head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
Home Ownership                  7500 non-null object
Annual Income                   5943 non-null float64
Years in current job            7129 non-null object
Tax Liens                       7500 non-null float64
Number of Open Accounts         7500 non-null float64
Years of Credit History         7500 non-null float64
Maximum Open Credit             7500 non-null float64
Number of Credit Problems       7500 non-null float64
Months since last delinquent    3419 non-null float64
Bankruptcies                    7486 non-null float64
Purpose                         7500 non-null object
Term                            7500 non-null object
Current Loan Amount             7500 non-null float64
Current Credit Balance          7500 non-null float64
Monthly Debt                    7500 non-null float64
Credit Score                    5943 non-null float64
Credit Default                  7500 non-null int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [6]:
df.iloc[0]

Home Ownership                            Own Home
Annual Income                               482087
Years in current job                           NaN
Tax Liens                                        0
Number of Open Accounts                         11
Years of Credit History                       26.3
Maximum Open Credit                         685960
Number of Credit Problems                        1
Months since last delinquent                   NaN
Bankruptcies                                     1
Purpose                         debt consolidation
Term                                    Short Term
Current Loan Amount                          1e+08
Current Credit Balance                       47386
Monthly Debt                                  7914
Credit Score                                   749
Credit Default                                   0
Name: 0, dtype: object

In [7]:
df['Years in current job'].value_counts()

10+ years    2332
2 years       705
3 years       620
< 1 year      563
5 years       516
1 year        504
4 years       469
6 years       426
7 years       396
8 years       339
9 years       259
Name: Years in current job, dtype: int64

Получим список колонок, у которых тип данных object. Это значит, что в этих колонках, скорее всего, находятся текствые данные

In [8]:
object_columns = df.select_dtypes(include=object).iloc[0]
print(object_columns)

Home Ownership                    Own Home
Years in current job                   NaN
Purpose                 debt consolidation
Term                            Short Term
Name: 0, dtype: object

Посмотрим данные в таких колонках

In [9]:
NON_NUMERIC_COLUMNS = ['Home Ownership', 'Years in current job',
                      'Purpose', 'Term']

In [10]:
for column in NON_NUMERIC_COLUMNS:
    print(f'\r\ncolumn: {column.strip()}\r\n')
    print(f'{df[column].value_counts()}\r\n')
    print(f'{"_" * 15}\r\n')

column: Home Ownership

Home Mortgage    3637
Rent             3204
Own Home          647
Have Mortgage      12
Name: Home Ownership, dtype: int64

_______________


column: Years in current job

10+ years    2332
2 years       705
3 years       620
< 1 year      563
5 years       516
1 year        504
4 years       469
6 years       426
7 years       396
8 years       339
9 years       259
Name: Years in current job, dtype: int64

_______________


column: Purpose

debt consolidation      5944
other                    665
home improvements        412
business loan            129
buy a car                 96
medical bills             71
major purchase            40
take a trip               37
buy house                 34
small business            26
wedding                   15
moving                    11
educational expenses      10
vacation                   8
renewable energy           2
Name: Purpose, dtype: int64

_______________


column: Term

Short Term    5556
Long Term     1944
Name: Term, dtype: int64

_______________

Произведем преобразование типов в колонках с типом object

In [11]:
for column in NON_NUMERIC_COLUMNS:
    df[column] = df[column].astype(str)

После того, как посмотрели, какие данные в строковых колонках, можем построить новые признаки. В них мы будем проставлять числовые значения. Для начала мы сопоставим значения:

In [12]:
home_ownership_int = {
    'Home Mortgage': 0,
    'Rent': 1,
    'Own Home': 2,
    'Have Mortgage': 3
}

In [13]:
years_in_current_job_int = {
    '10+ years': 10,
    '2 years': 2,
    '3 years': 3,
    '< 1 year': 0,
    '5 years': 5,
    '1 year': 1,
    '4 years': 4,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    'nan': -1
}

In [14]:
purpose_int = {
    'debt consolidation': 0,
    'other': 1,
    'home improvements': 2,
    'business loan': 3,
    'buy a car': 4,
    'medical bills': 5,
    'major purchase': 6,
    'take a trip': 7,
    'buy house': 8,
    'small business': 9,
    'wedding': 10,
    'moving': 11,
    'educational expenses': 12,
    'vacation': 13,
    'renewable energy': 14
}

In [15]:
term_int = {
    'Short Term': 0,
    'Long Term': 1
}

In [16]:
def get_contains_null_values_columns():
    result = []
    for column in df.columns:
        if len(df[column].isnull()) > 0:
            result.append(column)
    return result

In [17]:
print(get_contains_null_values_columns())

['Home Ownership', 'Annual Income', 'Years in current job', 'Tax Liens', 'Number of Open Accounts', 'Years of Credit History', 'Maximum Open Credit', 'Number of Credit Problems', 'Months since last delinquent', 'Bankruptcies', 'Purpose', 'Term', 'Current Loan Amount', 'Current Credit Balance', 'Monthly Debt', 'Credit Score', 'Credit Default']

In [18]:
def clean_nan_values(column_name: str):
    df.loc[df[column_name].isnull(), column_name] = df[column_name].mode()[0]
    df.loc[df[column_name] == 'nan', column_name] = df[column_name].mode()[0]

In [19]:
for column in get_contains_null_values_columns():
    clean_nan_values(column)

C:\Users\dmitr\AppData\Roaming\Python\Python37\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [20]:
df['ID'] = df.index.tolist()

In [21]:
map_home_values = lambda x: home_ownership_int[x]
map_years_in_current_job = lambda x: years_in_current_job_int[x]
map_purpose_values = lambda x: purpose_int[x]
map_terms_values = lambda x: term_int[x]

In [22]:
df['HomeOwnershipInt'] = df['Home Ownership'].map(map_home_values)
df['YearsInCurrentJobInt'] = df['Years in current job'].map(map_years_in_current_job)
df['PurposeInt'] = df['Purpose'].map(map_purpose_values)
df['TermInt'] = df['Term'].map(map_terms_values)

In [23]:
df['YearsInCurrentJobInt'].value_counts()

10    2703
2      705
3      620
0      563
5      516
1      504
4      469
6      426
7      396
8      339
9      259
Name: YearsInCurrentJobInt, dtype: int64

Так как в признаке __Years in current job__ были значения __nan__, то нужно их оюработать. Я выбрал алгоритм заполнения, где признаку будут проставляться частовстречающиеся значения. Есть еще один алгоритм - заполнение средними щанчениями. Но он мне меньше нравится.

In [24]:
df[df['TermInt'] == -1]

Empty DataFrame
Columns: [Home Ownership, Annual Income, Years in current job, Tax Liens, Number of Open Accounts, Years of Credit History, Maximum Open Credit, Number of Credit Problems, Months since last delinquent, Bankruptcies, Purpose, Term, Current Loan Amount, Current Credit Balance, Monthly Debt, Credit Score, Credit Default, ID, HomeOwnershipInt, YearsInCurrentJobInt, PurposeInt, TermInt]
Index: []

[0 rows x 22 columns]

#### Сохранение обучающего датасета

In [25]:
PREPARED_DATASET_PATH = './training_project_data_prep.csv'

In [26]:
df.to_csv(PREPARED_DATASET_PATH, encoding='utf-8')